* {
	margin: 0;
	padding: 0;
}

ul,li{
	list-style: none;
}

html,
body {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	background: mediumturquoise;
	font-size: 16px;
}

header,
footer {
	box-sizing: border-box;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: aliceblue;
	color: #000;
	position: fixed;
	left: 0;
	z-index: 100;
}

header {
	top: 0;
}

footer {
	bottom: 0;
	display: flex;
}

footer button {
	outline: 0;
	flex: 1;
	border: 0;
	display: inline-block;
	width: 50%;
	height: 100%;
	font-size: 18px;
	font-weight: 800;
}
footer button:first-child {
	background: darkcyan;
	color: darksalmon;
}
footer button:last-child {
	background: hotpink;
	color: black;
}

section {
	box-sizing: border-box;
	padding: 0 2%;
	margin: 40px 0;
	width: 100%;
	height: 3000px;
	background: aqua;
	color: #000;
	font-size: 16px;
}

/*a链接实现*/
.toTop{
	text-decoration: none;
	line-height: 40px;
	text-align: center;
	color: white;
	font-size: 12px;
	border-radius: 5px;
	width: 40px;
	height: 40px;
	background: magenta;
	position: fixed;
	bottom: 50px;
	right: 10px;
}

/*toTop实现*/
#totop{
	text-decoration: none;
	line-height: 40px;
	text-align: center;
	color: white;
	font-size: 12px;
	border-radius: 5px;
	width: 40px;
	height: 40px;
	background: magenta;
	position: fixed;
	bottom: 50px;
	right: 10px;
}


